<!DOCTYPE html> 
<html> 
<head> 
  <title>Substance Letterpress</title>
  
  <!-- styles --> 
  <link href="stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="stylesheets/app.css" media="screen" rel="stylesheet" type="text/css" />
  
  <script src="/javascripts/jquery-1.5.min.js"></script>
  <script>
    $(function() {
      $("#render_job").submit(function() {
        window.location.href = "/latex?url="+encodeURI($('#document_url').val());
        return false;
      });
    });
  </script>
</head>
<body>
  
  <div id="container">
    <h1>Substance Letterpress</h1>
    <p>
      Letterpress is a service that converts Substance Documents to proper LaTeX.
    </p>
    
    <h2>Give it a spin</h2>
    <p>
      You can render any document that conforms to the Substance Document Format.
    </p>
    
    <form id="render_job">
      <input class="url" type="text" id="document_url" name="url" value="http://substance.io/documents/substance/substance"/>
      <input type="submit" value="Render"/>
    </form>
  </div>
</body>
</html>